body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f8fafc;
  color: #1e293b;
}

.app {
  width: 100%;
  overflow-x: hidden;
}

section {
  padding: 80px 10%;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

html {
  scroll-behavior: smooth;
}