body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f8fafc;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
}

section {
  padding: 80px 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}